* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

html {
  font-size: 90%;
}

:root {
  --text-size: 13px;
}

@media (max-width: 750px) {
  :root {
    --text-size: 9px;
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
}

.container .admin-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 3rem;
}

.container .admin-name i {
  font-size: 1.8rem;
  padding: .8rem;
  border: solid 1px #ccc;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
  border-radius: .6rem;
}

.container .admin-name h1 {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.container .back {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  -webkit-transition: .8s ease;
  transition: .8s ease;
  display: none;
}

.container .back.active {
  display: block;
}

.container .add-list {
  width: 40rem;
  height: 36rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
  padding: 1.4rem;
  position: absolute;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: .6rem;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  z-index: 10;
}

.container .add-list .list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.container .add-list .list-text h1 {
  font-size: 1.4rem;
}

.container .add-list .list-text i {
  font-size: 1.8rem;
  cursor: pointer;
  color: #a30e2c;
  border: solid 1px #ccc;
  border-radius: .4rem;
  background: #f7cfd6;
}

.container .add-list .list {
  width: 100%;
  padding: 1.6rem 1rem;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.container .add-list .list input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  border: solid 1px #ccc;
  margin-bottom: 1.2rem;
  border-radius: .4rem;
}

.container .add-list .list select {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  border: solid 1px #ccc;
  border-radius: .4rem;
}

.container .add-list .list .genders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.8rem 0;
}

.container .add-list .list .genders label {
  font-size: 1.4rem;
  margin-left: 2.6rem;
}

.container .add-list .list .genders input {
  margin: 0;
  width: 8%;
}

.container .add-list .list button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: .6rem;
  background: #ccc;
  font-weight: bold;
}

.container .add-list.active {
  top: 50%;
}

.container .admin-list {
  width: 100%;
  border: solid 1px #ccc;
  padding: 1.6rem;
  border-radius: .6rem;
}

.container .admin-list .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1.2rem;
}

.container .admin-list .search .search-input {
  width: 80%;
  position: relative;
}

.container .admin-list .search .search-input input {
  width: 100%;
  outline: none;
  border: solid 1px #ccc;
  font-size: 1rem;
  padding: .6rem .6rem .6rem 3rem;
  border-radius: .3rem;
}

.container .admin-list .search .search-input i {
  font-size: 1.6rem;
  position: absolute;
  left: 12px;
  top: 6px;
}

.container .admin-list .search button {
  width: 14%;
  font-size: var(--text-size);
  outline: none;
  border: solid 1px #ccc;
  padding: .6rem;
  cursor: pointer;
  border-radius: .3rem;
}

.container .admin-list .panel {
  border-radius: .4rem;
}

.container .admin-list .panel .admin-panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .6rem 0;
  background: #d8defd;
}

.container .admin-list .panel .admin-panel h3 {
  font-size: .9rem;
  width: 16%;
  text-align: center;
  cursor: pointer;
}

.container .admin-list .panel .admin-panel h3:nth-child(2) {
  width: 30%;
}

.container .admin-list .panel .admin-panel h3:nth-child(3) {
  width: 14%;
}

.container .admin-list .panel .admin-panel h3:nth-child(5) {
  width: 8%;
}

.container .admin-list .panel .todo {
  width: 100%;
}

.container .admin-list .panel .todo ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.container .admin-list .panel .todo ul input[type=text] {
  text-transform: capitalize;
}

.container .admin-list .panel .todo ul input {
  outline: none;
  border: none;
  text-align: center;
  width: 16%;
  padding: .3rem;
}

.container .admin-list .panel .todo ul input:nth-child(2) {
  width: 30%;
}

.container .admin-list .panel .todo ul input:nth-child(3) {
  width: 14%;
}

.container .admin-list .panel .todo ul input:nth-child(5) {
  width: 8%;
}

.container .admin-list .panel .todo ul input.active {
  border: solid 2px #ccc;
}

.container .admin-list .panel .todo ul li {
  width: 16%;
  text-align: center;
}

.container .admin-list .panel .todo ul li i {
  font-size: 1.4rem;
  cursor: pointer;
  color: #a30e2c;
  border: solid 1px #ccc;
  border-radius: .4rem;
  background: #f7cfd6;
}

.container .admin-list .panel .todo ul li i:nth-child(1) {
  color: #0056a1;
  background: #d8defd;
}

.container .admin-list .panel .todo ul:not(:last-child) {
  border-bottom: solid 2px #ccc;
}

@media (max-width: 1330px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
/*# sourceMappingURL=style.css.map */